@import "../styles/variable.scss";

.header {
  background-color: $background-color;
}
.nav {
  height: 100px;
}
.me-auto {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}
.menu_item {
  color: $text-color;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  &:hover {
    color: $hover-color;
  }
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: $text-color;
  &:hover {
    color: $hover-color;
  }
}
