@import "../styles/variable.scss";

.header {
  background-color: $background-color;
}

.navbar-toggler-icon {
  background-image: url("../img/burger.png");
}

.nav {
  height: 100px;
}
.me-auto {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
}
.menu_item {
  color: $text-color;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  &:hover {
    color: $hover-color;
  }
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: $text-color;
  &:hover {
    color: $hover-color;
  }
}

.language-dropdown {
  display: flex;
  margin-left: 30px;
  align-items: center;
  gap: 10px;
  color: $text-color;
  font-family: $text-font;
  font-weight: 500;

  .language-options {
    display: flex;
    gap: 4px;

    span {
      cursor: pointer;
      transition: color 0.3s ease;
      color: $text-color;

      &:hover {
        color: $hover-color;
        text-decoration: underline;
      }

      &.active {
        text-decoration: underline;
      }
    }
  }
}

.mobile__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mobile_item {
  color: #000;
  font-weight: 500;
  font-family: $text-font;
  text-decoration: none;
  cursor: pointer;
}

.mobile-language {
  margin-left: 0px;
  gap: 10px;
  font-family: $text-font;
  font-weight: 500;
  text-decoration: none;

  .language-options {
    display: flex;
    gap: 4px;

    span {
      color: #000;
      cursor: pointer;
      transition: color 0.3s ease;

      &:hover {
        color: $hover-color;
        text-decoration: underline;
      }

      &.active {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 992px) {
  .me-auto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    margin: 0 auto;
  }
}
