@import "../styles/variable.scss";

.header {
  background-color: $background-color;
}
// .header {
//   .navbar-toggler-icon {
//     background-color: $text-color;
//     border-radius: 2px;
//   }
// }

.navbar-toggler-icon {
  background-image: url("../img/burger.png");
}

.nav {
  height: 100px;
}
.me-auto {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
}
.menu_item {
  color: $text-color;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  &:hover {
    color: $hover-color;
  }
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: $text-color;
  &:hover {
    color: $hover-color;
  }
}

.mobile__body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile_item {
  color: #000;
  font-weight: 500;
  font-family: $text-font;
  text-decoration: none;
  cursor: pointer;
}
