@import "../../styles/variable.scss";
.card {
  width: 18rem;
  overflow: hidden;
  background-color: $text-color;
}

.card img {
  object-fit: cover;
  height: 150px;
  transition: transform 0.4s;
  &:hover {
    transform: scale(1.1);
  }
}

.card__title {
  text-align: center;
  text-transform: uppercase;
}

.card__button {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}
.card__button button {
  background-color: #000;
  color: $hover-color;
  border-color: $hover-color;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
  &:hover {
    background-color: $hover-color;
    border-color: #000;
    color: #000;
  }
}
